html , body{
    margin:0;
    height:100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

h1{
    color:yellow;
    font-size: 5rem;
}

p{
    color: wheat;
    font-size: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 90%;
    background-color: blue;
    padding: 10px;
}

button{
    width: 40%;
    height: 20%;
    font-size: 1.2rem;
    background-color: yellow;
    margin-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

#message-el{
    font-style: italic;
}
